@model CompetenceAppM152.Client.UI.Web.VieModels.GalleryPicturesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var p in Model.Pictures)
{
    <div>
        <br />
        @p.Title
    </div>
}